<section class="review" id="review">

  <h1 class="heading"> reviews <span>what people says</span> </h1>

  <div class="swiper review-slider">
        <swiper
          [config]="config"
          (swiper)="onSwiper($event)"
          (slideChange)="onSlideChange()">

          <ng-template swiperSlide>
            <div class="box">
              <i class="fas fa-quote-left"></i>
              <i class="fas fa-quote-right"></i>
              <img src="/assets/image/pic-1.png" alt="">
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore aliquid eveniet qui, similique aut sit.</p>
              <h3>john deo</h3>
              <span>satisfied client</span>
            </div>
          </ng-template>

          <ng-template swiperSlide>
            <div class="box">
              <i class="fas fa-quote-left"></i>
              <i class="fas fa-quote-right"></i>
              <img src="/assets/image/pic-2.png" alt="">
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore aliquid eveniet qui, similique aut sit.</p>
              <h3>john deo</h3>
              <span>satisfied client</span>
            </div>
          </ng-template>

          <ng-template swiperSlide>
            <div class="box">
              <i class="fas fa-quote-left"></i>
              <i class="fas fa-quote-right"></i>
              <img src="/assets/image/pic-3.png" alt="">
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore aliquid eveniet qui, similique aut sit.</p>
              <h3>john deo</h3>
              <span>satisfied client</span>
            </div>
          </ng-template>

          <ng-template swiperSlide>
            <div class="box">
              <i class="fas fa-quote-left"></i>
              <i class="fas fa-quote-right"></i>
              <img src="/assets/image/pic-4.png" alt="">
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore aliquid eveniet qui, similique aut sit.</p>
              <h3>john deo</h3>
              <span>satisfied client</span>
            </div>
          </ng-template>
      </swiper>
  </div>
</section>
